@import "tailwindcss";

@font-face {
    font-family: 'pixel';
    /* src: url('/04b-30.ttf'); */
    /* src: url('/atc.ttf'); */
    /* src: url('/daydream.ttf'); */
    /* src: url('/gumball.ttf'); */
    /* src: url('/minecraft.ttf'); */
    /* src: url('/perfect-dos-vga.ttf'); */
    src: url('/pixeled.ttf');
    src: url('/vcr-osd-mono.ttf');
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.sprite
{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 256px; /* Scale up while keeping pixelated look */
    height: 256px;
}

.r3f, 
.content
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: pixel;
}

.content
{
    overflow-y: scroll;
}

.r3f
{
    touch-action: none;
    z-index: -1;
}

