@import "tailwindcss";

@font-face 
{
    font-family: pixel;
    /* src: url('fonts/english/04b-30.ttf'); */
    /* src: url('fonts/english/atc.ttf'); */
    /* src: url('fonts/english/daydream.ttf'); */
    /* src: url('fonts/english/gumball.ttf'); */
    /* src: url('fonts/english/minecraft.ttf'); */
    /* src: url('fonts/english/perfect-dos-vga.ttf'); */
    /* src: url('fonts/english/pixeled.ttf'); */
    src: url('/fonts/english/vcr-osd-mono.ttf');
}

@font-face 
{
    font-family: 'pixel-japanese';
    src: url('/fonts/japanese/madoufutomaru.ttf')
}

@property --w_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
  }
  
  @property --h_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vh;
  }


html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: pixel;

}


#root {
    --w: tan(atan2(var(--w_raw), 1px));
    --h: tan(atan2(var(--h_raw), 1px));
}

body::before {
    content: counter(w) 'x' counter(h);
    counter-reset: h var(--h) w var(--w);
}

.sprite
{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    pointer-events: none;
}

.birth
{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 128px;
    height: 128px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.r3f, 
.spriteLayer,
.content
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: pixel;
}

.content
{
    overflow-y: scroll;
    --font-color: #000;
    scroll-snap-type: y mandatory;
}

.section
{
    scroll-snap-align: start;
}

.typewriter-container
{
    /* container style */
    font-weight: bold;
    font-size: 3rem;
    height: 1em;
    display: flex;
    align-items: center;
    width: fit-content;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px black;

    /* cursor effect */
    border-top: 0;
    border-bottom: 0;
    border-right: 1ch solid var(--font-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      /* typing 1s steps(20, end); */
      blink-cursor .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-cursor 
{
from, to { border-color: transparent }
50% { border-color: var(--font-color); }
}

.tamagotchi-equation 
{
    font-family: pixel;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1.6;
    color: #000;
    background-color: #fff9db; 
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.tamagotchi-equation p 
{
margin: 0.5rem 0;
}

.japanese 
{
font-family: pixel-japanese;
font-weight: bold;
color: #ff6699; 
}

.meaning 
{
font-style: italic;
color: #000;
}

.line {
    display: block;
    width: 100%; 
    height: 2px;
    background-color: black;
    margin: 10px 0; 
  }

.feed
{
    cursor: url('/sprite/cake.png'), auto;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: var(--brush-color, #ff0000);
    outline: none;
    transition: background 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--brush-radius, 20px);
    height: var(--brush-radius, 20px);
    /* width: 20px;
    height: 20px; */
    background: var(--brush-color, #ff0000);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--brush-color, #ff0000);
    border-radius: var(--brush-radius, 50%);
    cursor: pointer;
}

.shapeButton
{
    color: --brush-color;
}

.info
{
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
